@tailwind base;
@tailwind components;
@tailwind utilities;

/* background rainbow gradient */
/* define rainbow gradient */
:root {
  --rainbow: linear-gradient(
    45deg,
    #ffdede,
    #ffeba1,
    #cfffb3,
    #a1e8e6,
    #a1a6e8,
    #e8a1e8
  );
}
html {
  background: var(--rainbow);
  /* make it fit the whole screen */
  height: 100%;
}
